@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<!-- this displays your amount of Coins -->
<p role="status">MeowCOIN: @Coin</p>

<!-- This makes the main clicking button for Coins -->
<button class="image-button" @onclick="IncrementCount">
    <img src="images/glorp.jpg" alt="Button Image" class="button-image" />
</button>

<!-- Here is Div class for the upgrade buttons so they go to up right corner and also call some methods for upgrades.
    you can check the css side from wwwroot/app.css -->
<div class="button-container">
    @if (unitycatlevel >= 25 && !unitycatactivate)
    {
        <button class="btn btn-primary" @onclick="Powerups">2x Clicks <br>Cost: 10K</button>
    }

    <button id = "Unitycatlevelbutton" class="btn btn-danger" @onclick="unitycat">Coin: @UnityCatCost <br> Level: @unitycatlevel</button>
</div>
<div class="button-container">
    @if (auto_click >= 1)
    {
        <button class="btn btn-primary" @onclick="StartAutoIncrement">Auto mining <p>Cost = @Auto_mining counts</p></button>
    }
    else {
        <button class="btn btn-primary" @onclick="StartAutoIncrement">Mining incres <p>Cost = @autocost counts</p></button>
    }
    </div>

<!-- Here are all the main methods and code -->
@code {
    // auto incres
    private bool autoIncrement = false;

    //auto score cost
    private int Auto_mining = 10000;
    private int autocost = 0;

    //auto mining clicks
    private int auto_click = 0;

    // double for COINS //
    private double Coin = 0;

    // double for clicks //
    private double Click = 1;

    // Here are all of the upgrade costs //
    private double UnityCatCost = 10;

    //-----------------------------------------//
    // Here are all the Upgrade levels //
    private int unitycatlevel = 0;

    // this bool is for the 2x clicks power up, so the button will disapear when clicked/bought ones //
    private bool unitycatactivate = false;

    // Simple int for the click multiplier //
    private int clickMultiplier = 1;

    private bool IcanAffordUnitycat = true;

    // Method for how many clicks u get from single click //
    private void IncrementCount()
    {
        Coin += Click * clickMultiplier;
    }

    // method for the Unity cat upgrade. //
    private void unitycat()
    {
        if (Coin >= UnityCatCost) {
            Coin -= UnityCatCost;
            UnityCatCost = Math.Round((UnityCatCost * 1.2));
            unitycatlevel++;
            Click++;
        }
    }

    // Method for the 2x power up //
    private void Powerups() {
        if (Coin >= 10000) {
        // here the click multiplier is changed to 2 so it will always give u 2x coins //
        clickMultiplier = 2;
        // this is for the powerup button to disapear when bought //
        unitycatactivate = true;
        }
        else {  
        }
    }

    //Method for auto add coins
    private async Task StartAutoIncrement()
    {
        if (Coin >= Auto_mining && auto_click < 1)
        {
            autoIncrement = true;
            auto_click += 1;
            Coin -= Auto_mining;
            autocost += 100;

            while (autoIncrement)
            {
                Coin += auto_click; // Increment the count
                StateHasChanged(); // Refresh the UI
                await Task.Delay(1000); // Wait for 1 second asynchronously
            }
        }
        else if(Coin >= autocost && auto_click >= 1){
            Coin -= autocost;
            auto_click += 1;
            autocost += 100;
        }
    }
    private void StopAutoIncrement()
    {
        autoIncrement = false; // Stop auto increment
    }
}
