@page "/"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
<script src="site.js"></script>
<audio id="meowSound" src="sounds/meow.wav"></audio>

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<button class="btn btn-primary" @onclick="PlayMeow">Play Meow</button>


@code {
    private async Task PlayMeow()
    {
        await JSRuntime.InvokeVoidAsync("playSound", "meowSound");
    }
}
